@model Lhuvin.Billing.Models.Payment
<div class="modal fade" id="editPaymentModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Payment</h3>
            </div>
            @using (Ajax.BeginForm(actionName: "Edit", controllerName: "Payments", routeValues: null, ajaxOptions: new AjaxOptions() { HttpMethod = "POST", OnSuccess = "paymentEdit(this, data)", OnFailure = "paymentFailed" }, htmlAttributes: new { @class = "paymentForm" }))
            {
                <div class="modal-body" dir="ltr">
                    <div class="text-center">
                        <h4 class="ModelClientName"></h4>
                    </div>


                    <div class="form-horizontal row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            @Html.HiddenFor(p => p.Id)
                            @Html.HiddenFor(p => p.ClientId)
                            @Html.HiddenFor(p => p.PaymentDate)
                            <div class="form-group-sm">

                                <div class="col-md-6">

                                    <input type="hidden" name="type" required value="@ViewBag.type" />
                                    <div class="dropdown payment-type-dd">
                                        <div class="text-left">
                                            @Html.LabelFor(p => p.PaymentType)
                                        </div>
                                        <button class="btn btn-primary form-control dropdown-toggle type-dd" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                            @ViewBag.type
                                        </button>
                                        <ul class="dropdown-menu payment-type-dd" aria-labelledby="dropdownMenu1">
                                            @foreach (var type in Enum.GetValues(typeof(Lhuvin.Billing.Models.PaymentType)).Cast<Lhuvin.Billing.Models.PaymentType>().ToList())
                                            {
                                                <li><a>@type</a></li>
                                            }
                                        </ul>
                                    </div>
                                    <div dir="ltr" class="dropdown new-card-charge keepopen">
                                        <button data-toggle="dropdown" class="dropdown-toggle hidden"></button>
                                        @Html.Partial("../CreditCardCharges/CreatePartial", new Lhuvin.Billing.Models.CreditCardCharge(Model.ClientId))
                                    </div>
                                    <div class="dropdown new-tpcheck">
                                        <button data-toggle="dropdown" class="dropdown-toggle hidden"></button>
                                        @Html.Partial("../Payments/TPCheckPartial", new Lhuvin.Billing.Models.TPCheck())
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-left">
                                        @Html.LabelFor(p => p.Amount)
                                    </div>
                                    @Html.TextBoxFor(p => p.Amount, new { dir = "ltr", id = "", @class = "form-control" })
                                    @Html.ValidationMessageFor(p => p.Amount, "", new { @class = "text-danger" })
                                   
                                </div>
                            </div>



                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="submit" />
                </div>
            }
            </div>
    </div>
</div>
<script defer>
    $("#editPaymentModal").on("shown.bs.modal", function (e) {
        var clientId = $(this).find("input[name='ClientId']").val()
        $.ajax({
            method: "get",
            url: "/CreditCards/GetCards/" + clientId,
            success: function (cards) {
                $.each(cards, function (index, card) {
                    var cardInfo = {
                        CardNumber: card.CardNumber,
                        Exp: card.Exp,
                        SecurityCode: card.SecurityCode,
                        Zip: card.Zip
                    }
                    var displayCard = "<div>"
                    $.each(cardInfo, function (name, val) {
                        displayCard += "<strong>" + name + "</strong>: " + "<span>" + val + "</span><br/>"
                    })
                    displayCard += "<input type ='hidden' class ='card-id' value ='" + card.Id + "'/> </div>"
                    $(".credit-cards").append("<li class='divider'></li><li><a><details><summary>" + card.Name + "</summary><span class = 'cardDetails'>" + displayCard + "</span></details></a></li>")
                    $(".cardDetails").click(function (e) {
                        $(this).closest("form").find("input[name='CardId']").val($(this).find(".card-id").val())
                        $(this).closest(".credit-cards").find("li > a").removeClass("btn-primary")
                        $(this).closest("li > a").addClass("btn-primary")
                    })
                })
            }
        })
    })
</script>