@model IEnumerable<Lhuvin.Billing.Models.CreditCard>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="page-header row">
    <div class="col-md-10">
        <h2>Credit Cards</h2>
    </div>
    <div class="col-md-2">
        <button id="open" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">New Card</button>
    </div>
</header>


<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FirstName)
                @Html.DisplayFor(modelItem => item.Client.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Enter Clients "Home Phone number"</h3>
            </div>
            <div class="modal-body ">
            </div>
            @using (Html.BeginForm("Create", "CreditCards", FormMethod.Get, new { @class = "form-horizontal" }))
            {

                @Html.Hidden("returnUrl", "/creditCards/index")
                <div class=" form-group">

                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <span class="text-danger text-center">@ViewBag.Error</span>
                        @Html.TextBox("homePhone", null, new { @class = "form-control ", required = "required" })
                        @Html.ValidationMessage("homePhone", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-7 col-md-5">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>


            }
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
<script>
    @Html.Raw(ViewBag.ClickButton)
</script>

}