@model Lhuvin.Billing.ViewModels.CreateClientDayViewModel
<main class="pager">
    <div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h3 class="modal-title text-center" id="editModelTitle"></h3>
                </div>
                @using (Html.BeginForm("Edit", "ClientDays", FormMethod.Post))
                {
                    var db = new Lhuvin.Models.ApplicationDbContext();
                    <div class="modal-body">
                        <br />

                        @Html.HiddenFor(m => m.DayId) @Html.HiddenFor(m => m.Date)

                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="form-group-lg">
                                        @Html.LabelFor(m => m.StartTime, new { @class = "control-label text-center" })
                                        <div class="pager">
                                            @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control ", type = "time" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group-lg">
                                        @Html.LabelFor(m => m.EndTime, new { @class = "control-label text-center" })
                                        <div class="pager">
                                            @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control ", type = "time" })
                                        </div>

                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.PriceId, "פרייז", new { @class = "control-label text-center" })
                                    @Html.DropDownListFor(d => d.PriceId, new SelectList(db.PricePerHours.Where(p => p.Public == true).Select(
                                    p => new
                                    {
                                        Id = p.Id,
                                        Description = p.Price + " - " + p.Description
                                    })
                                    , "Id", "Description",
                                Model), new { @class = "form-control" })
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="">
                                        @Html.LabelFor(m => m.BreakDown, new { @class = "control-label text-center" })
                                        <div class="pager">
                                            @Html.TextAreaFor(m => m.BreakDown, new {@class= "form-control",  rows = "4" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                }
            </div>
        </div>
    </div>
   
</main>

